<div class="container">

  <div class="cards-scroll mt-5">
    <% @categories.each do |category| %>
      <div class="card-scroll mx-2">
        <%= link_to category_kits_path(name: category.name), class: "text-decoration-none" do  %>
          <%= render("components/card-category-1", {category: "#{category.name}", img: "#{category.name.downcase.tr(' ',"_")}.jpg"}) %>
        <% end %>
      </div>
    <% end %>
  </div>
    <% unless @kits.empty? %>

  <div class="cards-scroll">
    <h2 class="mt-3">Sugerencias</h2>
    <div class="cards-scroll mt-3" >
      <% @kits.each do |kit| %>
        <%= link_to kit_path(kit) do  %>
          <div class="card-scroll pr-0 pl-2 mr-3 col-md-4">
           <div class="card-kit">
            <%= cl_image_tag kit.image, class: "rounded"%>
             <div class="card-body">
               <div>
                 <h5 class="card-title mb-1 text-wrap text-truncate" style="height: 50px"><%= kit.name %> - <small><%= kit.restaurant.name %></small></h5>
                 <p class="card-text overflow-ellipsis card-description mt-3"><%= kit.description %></p>
               </div>
               <div class="d-flex justify-content-between">
                 <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> A 1.3km</p>
                 <p class="card-text card-price">$ <%= kit.price %></p>

               </div>
             </div>
            </div>
            </div>
          <% end %>
        <% end %>
  </div>
</div>
  <div class="cards-scroll">
    <h2 class="mt-3">Restaurants</h2>
    <div class="cards-scroll mt-3">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
        <div class="card-scroll pr-0 pl-2 mr-3 col-md-4">
          <div class="card-kit rounded">
            <img src=<%= restaurant.image %> />

            <div class="card-body">
              <div>
                <h5 class="card-title mb-1"><%= restaurant.name %></h5>
                <p class="card-title text-truncate flex-wrap mb-1 "> <%= restaurant.address.address %></p>
              </div>
              <div class="card-text d-flex justify-content-between mt-3">
                <% if restaurant.kits.order(:price).first != nil %>
                <p class="card-text card-price">Desde $<%= restaurant.kits.order(:price).first.price %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <% else %>
     <h5 class="mt-5 mb-2">No encontramos ningún resultado para tu búsqueda pero quizá podria gustarte</h5>
    <div class="cards-scroll">
      <div class="cards-scroll mt-3" >
        <% @kits.each do |kit| %>
          <%= link_to kit_path(kit) do  %>
            <div class="card-scroll pr-0 pl-2 mr-2 col-md-4">
             <div class="card-kit">
              <%= cl_image_tag kit.image, class: "rounded"%>
               <div class="card-body">
                 <div>
                   <h5 class="card-title mb-1 text-wrap" style="height: 50px"><%= kit.name %></h5>
                   <p class="card-text overflow-ellipsis card-description"><%= kit.description %></p>
                 </div>
                 <div class="d-flex justify-content-between mt-3">
                   <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> A 1.3km</p>
                   <p class="card-text card-price">$ <%= kit.price %></p>
                 </div>
               </div>
             </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

    <% end %>
  <div class="text-center my-5">
    <%= image_tag("kit.png",  width: 350, height: 350) %>
  </div>
  <h2 class="text-center my-3">Una comida perfecta sin salir de casa</h2>
  <h4 class="text-center my-3"><small>Crea magia experimentando paso a paso recetas unicas</small></h4>

  <a href=" <%= new_user_registration_path %>" class="btn btn-primary btn-lg btn-block mb-3">Registrate</a>
</div>
