%= simple_form_for [@user, @kitchen] do |f| %>
      <%= f.input :name, label: false, placeholder: 'Name' %>
      <%= f.input :stock, label: false, placeholder: 'Stock' %>
      <%= f.input :price, label: false, placeholder: 'Price' %>
      <%= f.input :size, label: false, placeholder: 'Size' %>
      <%= f.input :preparation_time, label: false, placeholder: 'Preparation time' %>
      <%= f.input :description, as: :text, label: false, placeholder: 'Description' %>
      <%= f.input :photo,label: false %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="links">
        <%= f.button :submit, class:'bootstrapbutton' %>
        <%= link_to 'Index', root_path, class: "bootstrapbutton" %>
      </div>
    <% end %>
