<div class="card mb-3 border-0">
  <div class="">
    <div class="p-3">
      <img src="<%= review.order.user.avatar_image %>" alt="" width="80px" height="80px" class="rounded-circle mb-2">
      <div class="star-rating">
        <%= render 'shared/stars', kit: @kit %>
      </div>
      <p><%= review.order.user.first_name %></p>
      <p><%= review.content %></p>
      <a href="javascript:void()" class="" data-toggle="modal" data-target="#modal<%= review.id %>">
        Ver foto del plato preparado por el usuario
      </a>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal<%= review.id %>" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Foto del usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="<%= review.image %>" width="100%" class="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<hr>
