<a href="<%= kit_path(kit) %>" class="text-decoration-none ">
<div class="card border-0 mb-3">
  <img class="rounded" src="<%= kit.image %>" width="100%" height="200px" />
  <div class="card-body">
    <div>
      <h5 class="card-title mb-1"><%= kit.name %></h5>
      <p class="card-text overflow-ellipsis card-description"><%= kit.description %></p>

    </div>
    <div class="d-flex justify-content-between mt-3">
      <!-- <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> A 1.3km</p> -->
      <p class="card-text card-price">$<%= kit.price %></p>
    </div>
  </div>
</div>
</a>
