<div class="navbar navbar-expand-sm navbar-dark navbar-mobile py-3 bg-white justify-content-between nav_shadow">
  <div class="d-none d-md-block">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('logo.png' , style: "width: 200px") %>
    <% end %>
  </div>

    <div class="d-md-none d-sd-block">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('logomob.png', style: "width: 45px" ) %>
    <% end %>
  </div>


  <div class="d-flex">
    <% if user_signed_in? %>

    <div>

      <%= link_to "Mis ordenes", user_dashboard_path, class: "btn btn-primary mr-1 d-none d-md-block"%>

      </div>
        <div class="dropdown">
          <% if current_user.avatar_image? %>
            <%= cl_image_tag current_user.avatar_image, class: "avatar dropdown-toggle ", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <!-- <img src="current_user.avatar_image" class="avatar border border-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"> -->
          <% else %>
            <i class="fas fa-user-circle fa-2x text-primary" id="dropdownMenuButton" data-toggle="dropdown"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

            <%#= link_to "Favoritos", destroy_user_session_path, class: "dropdown-item"%>
            <%= link_to "Mis ordenes", user_dashboard_path, class: "dropdown-item d-block d-md-none"%>

            <%= link_to "Mi Perfil", edit_user_registration_path, class: "dropdown-item"%>
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
          </div>
        </div>
    <% else %>
        <%= link_to "Ingresar", new_user_session_path, class: "btn btn-primary mr-1"%>
        <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
