<% if user_signed_in? %>
  <div class="dropdown-menu-left" aria-labelledby="navbarDropdown">
    <%= link_to "Favoritos", destroy_user_session_path, class: "dropdown-item"%>
    <%= link_to "Mi Perfil", edit_user_registration_path, class: "dropdown-item"%>
    <%= link_to "Cerrar Sesion", destroy_user_session_path, class: "dropdown-item"%>
  </div>
<% else %>
  <div class="dropdown-menu-left" aria-labelledby="navbarDropdown">
    <%= link_to "Ingresar", new_user_session_path, class: "dropdown-item"%>
    <%= link_to "Registrarse", new_user_registration_path, class: "dropdown-item" %>
  </div>
<% end %>
