<div class="navbar navbar-expand-sm navbar-dark navbar-mobile py-3 bg-white justify-content-between">
  <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('logo.png') %>
    <% end %>
  </div>

  <div>
    <div class="d-none d-md-block" style="width: 450px">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group m-0">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <% if current_user&.avatar_image.nil? %>
          <img src="current_user.avatar_image" class="avatar border border-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
        <% else %>
          <i class="fas fa-user-circle fa-2x text-primary" id="dropdownMenuButton" data-toggle="dropdown"></i>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Favoritos", destroy_user_session_path, class: "dropdown-item"%>
          <%= link_to "Mi Perfil", edit_user_registration_path, class: "dropdown-item"%>
          <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
        </div>
      </div>
    <% else %>
      <%= link_to "Ingresar", new_user_session_path, class: "btn btn-primary"%>
      <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
