<!-- <div style="background-image: url(<%= image_url('orders-bg.jpg') %>); background-size: cover; background-position: top; min-height: 500px; "> -->
  <div class="container d-flex bg-light mt-4 px-4 py-2 rounded" >
    <div  class="flex-grow-1 mt-3 h-100">
      <h2 class="my-4 "><strong> Resumen de compra </strong></h2>

      <div class="card-product  d-md-none">
        <img src=<%= @order.kit.image %> />
        <div class="d-flex flex-column p-3 w-100">
          <%  %>
          <h1 style="font-size: 15px"><strong> <%= @order.kit.name %> </strong></h1 style="">
          <p><%= @order.kit.restaurant.name %></p>
          <span class="d-flex justify-content-between align-items-center mt-3"><p>x <%= @order.amount %></p><p>$ <%= @order.kit.price * @order.amount %></p></span>
        </div>
      </div>
    <div class="mr-md-3 bg-white rounded p-3 mt-3 h-100" style="box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.4);">
      <h4 class="mt-2 mb-4 font-weight-bold">Detalles del envío</h4>
      <p><strong>Lugar de entrega:</strong> <%= @order.address.address %></p>
      <%= l(@order.date_delivery.in_time_zone("Buenos Aires"), format: "%A %d-%b %H %M") %>
      <p> <strong>Dia y hora de entrega:</strong> <%= l(@order.date_delivery.in_time_zone("Buenos Aires"), format: "%A %d-%b %H:%M %p") %></p>



<!--         <form action="<%= order_payments_path(@order) %>" method="POST">
          <script
            src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
            data-elements-color="#0B5FC4"
            data-header-color="#0B5FC4"
            data-public-key="<#%= ENV['MP_PRODUCTION_PUBLIC_KEY'] %>"
            data-transaction-amount="<#%= @order.kit.price * @order.amount %>"
            data-button-label="Confirmar y pagar"
            <#% if current_user.mpcustomer_id? %>
              data-customer-id="<%= current_user.mpcustomer_id %>"
              data-card-ids="<%= current_user.mpcard_id %>">
            <#% end %>
            >
          </script>
        </form> -->



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Confirmar y Pagar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Disculpa las molestias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lo sentimos, por el momento nuestras publicaciones se encuentran pausadas. Estamos trabajando para agregar nuevos platos a nuestra pagina. Cuando estemos nuevamente online nos pondremos en contacto con vos!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Cerrar</button>
      </div>
    </div>
  </div>
</div>




      </div>
  </div>
   <div class="card-kit d-xs-none d-none d-md-block h-100" style=" width: 40%;">
     <img src=<%= @order.kit.image %>  />
     <div class="card-body">
       <div>
         <h5 class="card-title mb-1"><%= @order.kit.name %></h5>
         <p class="card-text overflow-ellipsis card-description"><%= @order.kit.restaurant.name %></p>
         <div class="d-flex justify-content-between mt-3">
           <p class="card-text card-price"><%= @order.delivery_provider %></p>
         </div>
       </div>
       <div class="d-flex justify-content-between my-3">
         <h2 class="card-text card-address" style="font-size: 20px"><strong> Total </strong></h2>
         <h2 class="card-text card-price" style="font-size: 20px"><strong> $ <%= @order.kit.price * @order.amount %> </strong></h2>
       </div>
     </div>
   </div>
  </div>

