<h2 class="text-center">Todas las ordenes</h2>
<div class="d-flex">
  <div class="col-6">
    <% @orders.each do |order| %>
      <div class="card mb-3" style="width: 100%;">
        <% color = order.state ? '#4dc433' : '#fd1015' %>
        <div class="card-header" style="background-color: <%= color %>;">
          <h4> Orden <%= order.id %> </h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Estado: <%= order.state %></li>
          <li class="list-group-item">Direccion: <%= order.address.address %></li>
          <li class="list-group-item">Usuario: <%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user_id %>)</li>
          <li class="list-group-item">Restaurant: <%= order.kit.restaurant.name %></li>
          <li class="list-group-item">Kit: <%= order.kit.name %></li>
        </ul>
      </div>
      <% end %>
    </div>
  <div class="col-6">
    <div
      id="map"
      class="position-sticky"
      style="width: 100%;
      height: 100vh; top: 0;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>



</div>




