<div class="jumbotron jumbotron-fluid text-center d-flex justify-content-between align-items-center " style="background-image: url(<%= image_url('bghome.jpg') %>); background-size: cover; background-position: top; min-height: 400px;">
  <div class="container">
    <div class="py-2">
      <%= image_tag( 'easychef_logo.png' , class:"mb-4 d-md-none w-50")%>
      <h2 class="d-xs-none text-white d-none d-md-block font-weight-bold">Cocinar rico nunca fue tan fácil</h2>
      <p class="lead px-3 text-primary d-sm-block d-md-none" >Cocinar rico nunca fue tan fácil</p>
    </div>
    <div class="container">
      <%= simple_form_for :query, url: kits_path, method: :get do |f| %>
        <div class="d-md-flex align-items-center mx-md-5">
          <div class=" w-sm-100 flex-grow-1 " >
            <%= f.input :address, class: "order-form order_address_address", id:"location", placeholder: "Ingresá tu dirección", label: false %>
          </div>
            <%= f.submit "Buscar", class: "btn btn-primary ml-md-3 w-sm-100 w-md-25 mb-3", id:"button", disabled:"disabled" %>
        </div>
        <% end %>
    </div>

  </div>
</div>



<div class="container mx-auto">
  <div class="landing">
    <img src="https://i.imgur.com/EC739GR.png" alt="" class= "landing-image">
    <div class="col-md-6 col-sm-12 landing-text">
      <h3 class="landing-title">Elegí tus platos</h3>
      <p class="landing-paragraph">Nuestros ingredientes provistos por nuestros restaurants de alta calidad incluyen todo tipo de variedades de comida, desde vegetariana, hasta comida rápida, valorada por nuestros clientes.</p>
    </div>
  </div>

  <div class="landing-reverse">
    <div class ="col-md-6 col-sm-12 landing-text">
      <h3 class="landing-title">Abrí tu caja</h3>
      <p class="landing-paragraph">Garantizamos la frescura de todos nuestros ingredientes, que son enviados en nuestras cajas a la puerta de tu casa.</p>
    </div>
    <img src="https://i.imgur.com/qVp8w5q.png" alt="" class= "landing-image-reverse">
  </div>

  <div class="landing">
    <img src="https://i.imgur.com/nlEMOkN.png" alt="" class= "landing-image">
    <div class ="col-md-6 col-sm-12 landing-text">
      <h3 class="landing-title">Creá magia</h3>
      <p class="landing-paragraph">Siguiendo nuestras instrucciones paso por paso vas a experimentar la magia de cocinar platos de los chefs de los restaurants más reconocidos.</p>
    </div>
  </div>
</div>

 <!-- ---- -->
<div class="container mx-auto" id="information-background">
  <div class="container text-center" id="information-container">

    <h3 id="info-header">QUE HAY DENTRO DE UNA CAJA DE EASYCHEF</h3>
    <div class="information">
      <div class="information-content">
        <img src="https://i.imgur.com/iA9yClb.png" alt="" class="information-image">
        <h4 class="information-title">Recetas deliciosas y saludables</h4>
        <p class="information-description"> Con nuestras instrucciones paso a paso nunca perderás el ritmo</p>
      </div>

      <div class="information-content">
        <img src="https://i.imgur.com/mfCLdoK.png" alt="" class="information-image">
        <h4 class="information-title" style="font-size: 20px">Ingredientes de calidad obtenidos responsablemente</h4>
        <p class="information-description">De producción fresca, sustentable, y exclusiva</p>
      </div>
    </div>

    <div class="information">
      <div class="information-content">
        <img src="https://i.imgur.com/w8HpFYt.png" alt="" class="information-image">
        <h4 class="information-title" style="font-size: 20px">Cantidades justas y necesarias</h4>
        <p class="information-description">Para evitar desperdicios</p>
      </div>

      <div class="information-content">
        <img src="https://i.imgur.com/40VQBjQ.png" alt="" class="information-image">
        <h4 class="information-title">Paquetes eco-friendly</h4>
        <p class="information-description">Nuestra visión es reducir gastos para contribuir con el medioambiente</p>
      </div>
    </div>
  </div>
</div>

