<h2 class="text-center">Administrador de ordenes</h2>
<div class="container-fluid">
  <div class="row">
  <div class="col-12 col-lg-6">
    <ul class="list-inline tabs-underlined">
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" style="border-top: 3px solid #fd1015">
          <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="Pendientes" aria-selected="true">Pendientes (<%= @order.pending.count %>)</a>
        </li>
        <li class="nav-item" style="border-top: 3px solid #eeff00">
          <a class="nav-link" id="on_transit-tab" data-toggle="tab" href="#on_transit" role="tab" aria-controls="Entregando" aria-selected="false">Entregando (<%= @order.on_transit.count %>)</a>
        </li>
        <li class="nav-item" style="border-top: 3px solid #4dc433">
          <a class="nav-link" id="delivered-tab" data-toggle="tab" href="#delivered" role="tab" aria-controls="Entregadas" aria-selected="false">Entregadas (<%= @order.delivered.count %>)</a>
        </li>
        <li class="nav-item" style="border-top: 3px solid #ff9900">
          <a class="nav-link" id="canceled-tab" data-toggle="tab" href="#canceled" role="tab" aria-controls="Canceladas" aria-selected="false">Canceladas (<%= @order.canceled.count %>) y reembolsadas (<%= @order.refunded.count %>)</a>
        </li>
        <li class="nav-item" style="border-top: 3px solid #23264D">
          <a class="nav-link" id="refunded-tab" data-toggle="tab" href="#refunded" role="tab" aria-controls="Rembolsadas" aria-selected="false">Mis kits</a>
        </li>
      </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <% if !@order.pending.empty? %>
          <% @order.pending.order(created_at: :desc).each do |order| %>
          <% status_color = { pending: '#fd1015', on_transit: '#eeff00', delivered: '#4dc433', canceled: '#ff9900', refunded: '#23264D' } %>
          <div class="d-flex p-3 mb-3 provider-card position-relative" style="border-left: 8px solid <%= status_color[order.status.to_sym]%>; box-shadow: 0 0 1px">
              <div class="p-2 w-75">
                 <h5><%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user_id %>)</h5>
                 <p class="font-weight-light"><%= order.address.address %></p>
                 <p><%= order.kit.name %></p>
                 <p><%= order.kit.restaurant.name %> </p>
                 <span>Fecha de entrega: <%= order.date_delivery.strftime("%A, %d %b %Y %l:%M %p") %> </span>
              </div>
             <div class="p-2 w-25 d-flex flex-column justify-content-end">
                <span class="position-absolute" style="top: 10px; right: 10px;"> # <%= order.id %></span>
                <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "Confirmar inicio de envio." } do |f| %>
                  <%= f.hidden_field :status, value: :on_transit %>
                  <%= f.submit 'Solicitar', class: 'btn btn-primary p-1 w-100'  %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No hay ordenes pendientes</p>
        <% end %>

      </div>


      <div class="tab-pane fade" id="on_transit" role="tabpanel" aria-labelledby="on_transit-tab">
        <% if !@order.on_transit.empty? %>
          <% @order.on_transit.order(updated_at: :desc).each do |order| %>
            <% status_color = { pending: '#fd1015', on_transit: '#eeff00', delivered: '#4dc433', canceled: '#ff9900', refunded: '#23264D' } %>
            <div class="d-flex p-3 mb-3 provider-card position-relative" style="border-left: 8px solid <%= status_color[order.status.to_sym]%>; box-shadow: 0 0 1px">
              <div class="p-2 w-75">
                 <h5><%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user_id %>)</h5>
                 <p class="font-weight-light"><%= order.address.address %></p>
                 <p><%= order.kit.name %></p>
                 <p><%= order.kit.restaurant.name %> </p>
                 <span>Fecha de entrega: <%= order.date_delivery.strftime("%A, %d %b %Y %l:%M %p") %> </span>
              </div>
             <div class="p-2 w-25 d-flex flex-column justify-content-end">
                <span class="position-absolute" style="top: 10px; right: 10px;"> # <%= order.id %></span>
                  <p>Proveedor: <%= order.delivery_provider %></p>
                  <p>Nº referencia: <%= order.reference_number %></p>
                  <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "Confirmar entrega en domicilio." }, class:"w-100" do |f| %>
                  <%= f.hidden_field :status, value: :delivered %>
                  <%= f.submit 'Confirmar entrega', class: 'btn btn-primary p-1 w-100'  %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No hay ordenes en entrega</p>
        <% end %>


      </div>

      <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
        <% if !@order.delivered.empty? %>
          <% @order.delivered.order(updated_at: :desc).each do |order| %>
            <% status_color = { pending: '#fd1015', on_transit: '#eeff00', delivered: '#4dc433', canceled: '#ff9900', refunded: '#23264D' } %>
            <div class="d-flex p-3 mb-3 provider-card position-relative" style="border-left: 8px solid <%= status_color[order.status.to_sym]%>; box-shadow: 0 0 1px">
              <div class="p-2 w-75">
                 <h5><%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user_id %>)</h5>
                 <p class="font-weight-light"><%= order.address.address %></p>
                 <p><%= order.kit.name %></p>
                 <p><%= order.kit.restaurant.name %> </p>
                 <span>Fecha de entrega: <%= order.date_delivery.strftime("%A, %d %b %Y %l:%M %p") %> </span>
              </div>
             <div class="p-2 w-25 p-2 w-25 d-flex flex-column justify-content-end">
                <span class="position-absolute" style="top: 10px; right: 10px;"> # <%= order.id %></span>
                <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "Confirmar cancelacion de ordern." } do |f| %>
                  <%= f.hidden_field :status, value: :canceled %>
                  <%= f.submit 'Cancelar', class: 'btn btn-danger p-1 w-100 mt-3'  %>
                <% end %>
                <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "Confirmar reembolso de ordern." } do |f| %>
                  <%= f.hidden_field :status, value: :refunded %>
                  <%= f.submit 'Rembolsar', class: 'btn btn-primary p-1 w-100 mt-3'  %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="mt-5 text-center">No hay ordenes entregadas</p>
        <% end %>
      </div>

      <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
        <% if !@order.canceled.order(updated_at: :desc).empty? %>
          <% @order.canceled.each do |order| %>
            <% status_color = { pending: '#fd1015', on_transit: '#eeff00', delivered: '#4dc433', canceled: '#ff9900', refunded: '#23264D' } %>
            <div class="d-flex p-3 mb-3 provider-card position-relative" style="border-left: 8px solid <%= status_color[order.status.to_sym]%>; box-shadow: 0 0 1px">
              <div class="p-2 w-75">
                 <h5><%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user_id %>)</h5>
                 <p class="font-weight-light"><%= order.address.address %></p>
                 <p><%= order.kit.name %></p>
                 <p><%= order.kit.restaurant.name %> </p>
                 <span>Fecha de entrega: <%= order.date_delivery.strftime("%A, %d %b %Y %l:%M %p") %> </span>
              </div>
             <div class="p-2 w-25 p-2 w-25 d-flex flex-column justify-content-end">
                <span class="position-absolute" style="top: 10px; right: 10px;"> # <%= order.id %></span>
                <% if order.reason.nil? %>
                  <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "Confirmar cancelación de orden." } do |f| %>
                    <%= f.input :reason, placeholder: "Motivo", label: false, required: true %>
                    <%= f.submit 'Confirmar motivo', class: 'btn btn-primary p-1 w-100'  %>
                  <% end %>
                <% else %>
                  <p>Motivo: <%=order.reason %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="mt-5 text-center">No hay ordenes canceladas</p>
        <% end %>
        <% if !@order.refunded.order(updated_at: :desc).empty? %>
          <% @order.refunded.each do |order| %>
            <% status_color = { pending: '#fd1015', on_transit: '#eeff00', delivered: '#4dc433', canceled: '#ff9900', refunded: '#23264D' } %>
            <div class="d-flex p-3 mb-3 provider-card position-relative" style="border-left: 8px solid <%= status_color[order.status.to_sym]%>; box-shadow: 0 0 1px">
              <div class="p-2 w-75">
                 <h5><%= order.user.first_name %> <%= order.user.last_name %> (<%= order.user_id %>)</h5>
                 <p class="font-weight-light"><%= order.address.address %></p>
                 <p><%= order.kit.name %></p>
                 <p><%= order.kit.restaurant.name %> </p>
                 <span>Fecha de entrega: <%= order.date_delivery.strftime("%A, %d %b %Y %l:%M %p") %> </span>
              </div>
              <div class="p-2 w-25 p-2 w-25 d-flex flex-column justify-content-end">
                <span class="position-absolute" style="top: 10px; right: 10px;"> # <%= order.id %></span>
                <% if order.reason.nil? %>
                  <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "Confirmar reembolso de orden." } do |f| %>
                    <%= f.input :reason, placeholder: "Motivo", label: false, required: true %>
                    <%= f.submit 'Confirmar motivo', class: 'btn btn-primary p-1 w-100'  %>
                  <% end %>
                <% else %>
                  <p>Motivo: <%=order.reason %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="mt-5 text-center">No hay ordenes reembolsadas</p>
        <% end %>
      </div>

      <div class="tab-pane fade" id="refunded" role="tabpanel" aria-labelledby="refunded-tab">
        <% @kit.each do |kit| %>
          <%= link_to kit_path(kit) do  %>
            <div class="card-scroll pr-0 pl-2 mr-3 col-md-6">
             <div class="card-kit">
              <%= cl_image_tag kit.image, class: "rounded"%>
               <div class="card-body">
                 <div>
                   <h5 class="card-title mb-1 text-wrap text-truncate" style="height: 50px"><%= kit.name %> - <small><%= kit.restaurant.name %></small></h5>
                   <p class="card-text overflow-ellipsis card-description mt-3"><%= kit.description %></p>
                 </div>
                 <div class="d-flex justify-content-between">
                   <p class="card-text card-price">$ <%= kit.price %></p>

                 </div>
               </div>
              </div>
              </div>
            <% end %>
          <% end %>
    </div>
  </div>
  </div>
    <div class="d-none d-lg-block col-lg-6">
      <div
        id="map"
        class="position-sticky"
        style="width: 100%;
        height: 100vh; top: 0;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
