<div style="background-image: url(<%= image_url('orders-bg.jpg') %>); background-size: cover; background-position: center; min-height: 300px;">
  <div class="container pt-5 d-md-flex justify-content-between">
    <div class="mr-3 w-sm-100 w-md-50 flex-grow-1">
      <h2 class="text-white font-weight-bold w-100"><%= @restaurant.name %></h2>
      <div class="restaurant-info">
        <h4>Direccion</h4>
        <p class="border "><%= @restaurant.address.address %>  </p>
        <!-- <h4>Opiniones</h4> -->
        <!-- <p>@restaurant.kits.reviews </p>
        <h4>Recomendaciones</h4>
        <p>@restaurant.kits.reviews </p> -->



      </div>
    </div>
    <div class="p-2 text-right w-sm-100 w-md-50 rounded"style="background-image: url(<%= @restaurant.image %>); background-size: cover; background-position: top; min-height: 400px; width:50%; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);">
      <%= cl_image_tag( @restaurant.brand.logo , class:"mb-4 rounded w-25 ")%>
    </div>
  </div>
  <div class="container mt-3">
    <div class="cards-scroll">
      <h2>Kits disponibles</h2>
      <div class="cards-scroll p-3" >
        <% @restaurant.kits.each do |kit| %>
          <%= link_to kit_path(kit) do  %>
            <div class="card-scroll mx-2 col-md-4">
             <div class="card-kit">
              <%= cl_image_tag kit.image, class: "rounded"%>
               <div class="card-body">
                 <div>
                   <h5 class="card-title mb-1 text-wrap" style="height: 50px"><%= kit.name %></h5>
                   <p class="card-text overflow-ellipsis card-description"><%= kit.description %></p>
                 </div>
                 <div class="d-flex justify-content-between mt-3">
                   <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> A 1.3km</p>
                   <p class="card-text card-price">$ <%= kit.price %></p>
                 </div>
               </div>
             </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
